---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h1>Welcome to Materials Modelling Group</h1>

	{{ content }}
  </div>
  <div class="col-sm-1" >
  </div>
  <div id="newsid" class="col-sm-3" >
	<a href="https://github.com/materialsmodellinggroup">
		<img src="/images/home/github.webp" alt="Group GitHub" width="70%" class="center" />
	</a>	
	<a href="https://github.com/ICME-India/MicroSim">
		<img src="/images/home/microsim_logo_mmg_website.png" alt="MicroSim" width="70%" class="center" />
	</a>	
	  {% include news.html %}
	
  </div>

